/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(130deg, #0a0f2e, #1b234f, #091e3b);
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #b77cff, #4fd4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    transition: 0.2s;
}

nav ul li a:hover {
    color: #7dd6ff;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 120px 60px;
    gap: 30px;
}

.hero-left {
    width: 55%;
}

.title {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 25px;
    opacity: 0.9;
}

.desc {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 40px;
    max-width: 700px;
}

/* BUTTONS */
.buttons {
    display: flex;
    gap: 25px;
}

.btn {
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 16px;
    transition: 0.3s;
}

.primary {
    background: linear-gradient(90deg, #b77cff, #4fd4ff);
    color: black;
    font-weight: 600;
}

.primary:hover {
    box-shadow: 0 0 15px #b77cff;
}

.secondary {
    border: 2px solid white;
}

.secondary:hover {
    background: white;
    color: black;
}

/* CARD RIGHT */
.hero-card {
    width: 310px;
    background: rgba(255, 255, 255, 0.07);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-card b {
    color: #7fd4ff;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 50px 0;
    opacity: 0.7;
}

/* RESPONSIVE */
@media(max-width: 950px){
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero-left {
        width: 100%;
    }
    .hero-card {
        width: 100%;
        max-width: 350px;
        margin-top: 40px;
    }
}
